@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-aquamarine: rgb(100, 216, 177);
  --lighter-gray: #E5E7EB;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--dark-aquamarine);
}

p {
  padding: 12px 0;
}

/* BEGIN FORM ELEMENTS */

input {
  width: 300px;
  height: 36px;
  border-radius: 4px;
  border-color: var(--lighter-gray);
  margin-right: 72px;
  padding: 12px;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
  border: solid 2px var(--dark-aquamarine);
  box-shadow: 3px 3px 5px var(--lighter-gray);
}

fieldset {
  border: none;
}

.error {
  border: solid 3px red!important;
}

.success {
  border: solid 3px green!important;
}

.hidden {
  display: none;
}

.password-error {
  color: red;
  font-size: 0.8rem;
}

label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

button {
  border: none;
}

/* END FORM ELEMENTS */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* BEGIN SIDEBAR */

.sidebar {
  flex: 1 1 320px;
  max-width: 500px;
  position: relative;
  color: aquamarine;
}

.logo-header {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 120px;
  height: 120px;
}

.sidebar-header {
  font-size: 2.8rem;
  font-weight: 600;
}

.image-credits {
  white-space: nowrap;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%, 0);
  color: whitesmoke;
  font-size: 0.8rem;
}

.sidebar-image {
  width: 100%;
  min-height: 100%;
}

/* END SIDEBAR */

/* BEGIN FORM COLUMN */

.form-column {
  flex: 1 1 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 24px;
}

.signup-pitch {
  font-weight: 400;
  margin-left: 48px;
  max-width: 960px;
}

.benefits-list {
  font-weight: 600;
  list-style: square;
  padding: 12px;
}

.benefit {
  margin-left: 48px;
}

.benefit:first-of-type {
  margin-top: 16px;
}

.form-container {
  background-color: whitesmoke;
}

.form-row {
  display: flex;
}

.form-fields {
  margin-left: 48px;
  padding: 24px 0;
}

.field {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
}

.brand-name {
  font-weight: 600;
}

.sign-up {
  padding: 12px 0;
}

.signup-login {
  padding: 48px 0;
  margin-left: 48px;
  font-weight: 600;
}

.signup-login-item {
  margin-bottom: 16px;
}

.button {
  padding: 16px 48px;
  font-size: 1.24rem;
  font-weight: 600;
  border-color: var(--dark-aquamarine);
  border-radius: 12px;
  background-color: var(--dark-aquamarine);
  cursor: pointer;
  text-transform: capitalize;
}
/* END FORM COLUMN*/

@media only screen and (max-width: 1200px)  {

  .sidebar {
    display: none;
  }

  .logo-header {
    position: static;
    display: block;
    transform: none;
    border: solid 3px #333;
    border-radius: 16px;
    background-color: var(--dark-aquamarine);
    box-shadow: 3px 3px 3px rgb(146, 145, 145);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
  }

  .logo {
    height: 96px;
    width: 96px;
  }

  .sidebar-header {
    font-size: 1.8rem;
  }
}