@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-aquamarine: rgb(100, 216, 177);
}

html {
  /* overflow-y: hidden; */
  /* overflow: scroll; */
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--dark-aquamarine);
}

p {
  padding: 12px 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

/* BEGIN SIDEBAR */

.sidebar {
  flex: 1 1 500px;
  max-width: 600px;
  position:relative;
  color: aquamarine;
}

.logo-header {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 120px;
  height: 120px;
}

.sidebar-header {
  font-size: 2.8rem;
  font-weight: 600;
}

.image-credits {
  white-space: nowrap;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 0.8rem;
}

.sidebar-image {
  width: 100%;
  min-height: 100%;
}

/* END SIDEBAR */

/* BEGIN FORM COLUMN */

.form-column {
  flex: 1 1 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.signup-pitch {
  font-weight: 400;
  margin-left: 32px;
  max-width: 960px;
}

.benefits-list {
  font-weight: 600;
  list-style: square;
  padding: 12px;
}

.benefit {
  margin-left: 48px;
}

.benefit:first-of-type {
  margin-top: 16px;
}

.form-container {
  background-color: whitesmoke;
}

.form-row {
  display: flex;
}

.form-fields {
  margin-left: 32px;
}

.field {
  margin: 12px 0;
}

.brand-name {
  font-weight: 600;
}

.sign-up {
  padding: 12px;
}

.signup-login {
  padding: 36px 0;
  margin-left: 32px;
  font-weight: 600;
}

.signup-login-item {
  margin-bottom: 16px;
}

/* hidden input. submit form by clicking label. 
allows placing button outside the form element */
#submit-form {
  display: none;
}

.button {
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: 600;
  border-color: var(--dark-aquamarine);
  border-radius: 12px;
  background-color: var(--dark-aquamarine);
  cursor: pointer;
}
/* END FORM COLUMN*/